.spotify {
  display: grid;
  justify-content: left;
  align-items: center;
  min-height: 100vh;
  background: rgb(113,34,195);
  background: linear-gradient(90deg, rgba(113,34,195,1) 0%, rgba(253,187,45,1) 100%); 
}

.spotify-content {
  width: 900px;
  padding: 20px;
  border-radius: 8px;
  border:1px solid #ddd;

}

.spotify-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.now-playing {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.now-playing img {
  margin-right: 20px;
}

.spotify-display img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.login {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1db954;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1ed760;
}