#root{
    background: rgb(113,34,195);
    background: linear-gradient(90deg, rgba(113,34,195,1) 0%, rgba(253,187,45,1) 100%); 
    height: 100%;
}

.playlists-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .playlists-list li {
    background-color: #000000;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  