.top-artists-container {
    width: 100%;
    padding: 20px;
  }
  
  .artists-carousel {
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: nowrap; /* Keeps children in a single line */
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    padding-bottom: 20px; /* Space below carousel */
  }
  
  .artists-list {
    display: flex; /* Ensure the children are in a row */
    flex-wrap: nowrap; /* Prevent wrapping of items */
  }
  
  .artist-item {
    display: inline-block; 
    width: 150px; 
    height: 200px; 
    margin-right: 25px; 
    text-align: center; 
    overflow: hidden; 
  }
  
  .artist-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .artist-info {
    margin-top: 10px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    word-wrap: break-word; 
    word-break: break-word; 
  }
  
  .artist-info h3 {
    font-size: 14px;
    font-weight: bold; 
    margin: 0; 
    color: #ffffff;
    white-space: normal; /* Allows text to wrap */
  }
  
  .artist-info h4 {
    font-size: 14px; 
    margin: 5px 0; 
    color: #ffffff; 
  }
  
  .pagination-buttons {
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
    height: 50px; /* Fixed height for consistency */
  }
  
  .pagination-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  