
#root {
  background: rgb(182, 244, 146);
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));  
  height: 100%;
}


.playlists-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}


h2 {
  font-size: 24px;
  margin-bottom: 20px;
}


button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #1db954;
  color: white;
  border-radius: 5px;
}

button:disabled {
  background-color: #b3b3b3; 
  cursor: not-allowed;
}


p {
  font-size: 16px;
}


.searchbar {
  margin-bottom: 20px;
}

.searchbar input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Pagination styling */
.pagination {
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #1db954; 
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #b3b3b3; 
  cursor: not-allowed;
}

.playlist-songs {
  margin-top: 20px;
}

.playlist-songs h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.playlist-songs ul {
  list-style-type: none;
  padding: 0;
}

.playlist-songs li {
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
}

.playlist-songs li:last-child {
  border-bottom: none;
}

.track-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.track-card img {
  max-width: 100%;
  border-radius: 4px;
}

.track-card h4 {
  margin: 0;
}

.track-card p {
  margin: 5px 0;
  color: #666;
}

@media (max-width: 768px) {
  .playlists-list {
    grid-template-columns: 1fr;
  }

  .track-card {
    padding: 5px;
  }
}
